[submodule "bundle/snipmate-plus"]
	path = bundle/snipmate-plus
	url = https://github.com/acevery/snipmate-plus.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-reveal-in-finder"]
	path = bundle/vim-reveal-in-finder
	url = https://github.com/henrik/vim-reveal-in-finder.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/swift.vim"]
	path = bundle/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "bundle/splitjoin.vim"]
	path = bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-graphql"]
	path = bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-jsx-typescript"]
	path = bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/smathieu/vim-snippets.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "bundle/copilot.vim"]
	path = bundle/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "bundle/vim-svelte"]
	path = bundle/vim-svelte
	url = https://github.com/evanleck/vim-svelte.git
