[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/snipmate-plus"]
	path = bundle/snipmate-plus
	url = git://github.com/acevery/snipmate-plus.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/vim-monit"]
	path = bundle/vim-monit
	url = git://github.com/tmatilai/vim-monit.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
